In [360]:
from dotenv import load_dotenv
import os
import requests
import json
import pandas as pd

### Use ZipCode API to get the distance between 2 zip codes

In [366]:
load_dotenv()

zipcode_api_key = os.getenv("ZIPCODE_API_KEY") 
# zipcode_api_key = 'fjf6y8FPeH5v2RyDScQ5FXfOQPOznHdjWUROZ4VvIlW5KWYWMiz3cUH4nRwJQqlk'

def get_distance_in_miles(home_team_zip, away_team_zip):    
    response_data = requests.get(f'http://www.zipcodeapi.com/rest/{zipcode_api_key}/distance.json/{home_team_zip}/{away_team_zip}/mile')
    data = response_data.json()

    return data['distance']

### Get the distance between a home and an away team's stadium

In [367]:
def get_home_away_distance_in_miles(home_team_code, away_team_code):
    
    teams = [
        { 'name': 'Arizona Diamondbacks', 'address': '401 E Jefferson St, Phoenix, AZ 85004' },
        { 'name': 'Atlanta Braves',  'address': '755 Battery Ave SE, Atlanta, GA 30339' },
        { 'name': 'Baltimore Orioles', 'address': '333 W Camden St, Baltimore, MD 21201' },
        { 'name': 'Boston Red Sox', 'address': '4 Jersey St, Boston, MA 02215' },
        { 'name': 'Chicago White Sox', 'address': '333 W 35th St, Chicago, IL 60616'},
        { 'name': 'Chicago Cubs', 'address': '1060 W Addison St, Chicago, IL 60613' },
        { 'name': 'Cincinnati Reds', 'address': '100 Joe Nuxhall Way, Cincinnati, OH 45202' }, 
        { 'name': 'Cleveland Indians', 'address': '2401 Ontario St, Cleveland, OH 44115' },
        { 'name': 'Colorado Rockies', 'address': '2001 Blake St, Denver, CO 80205' },
        { 'name': 'Detroit Tigers', 'address': '2100 Woodward Ave, Detroit, MI 48201' },
        { 'team': 'HOU', 'name': 'Houston Astros', 'address': '501 Crawford St, Houston, TX 77002' },
        { 'name': 'Kansas City Royals', 'address': '1 Royal Way, Kansas City, MO 64129' },
        { 'name': 'Los Angeles Angels', 'address': '2000 E Gene Autry Way, Anaheim, CA 92806' },
        { 'name': 'Los Angeles Dodgers', 'address': '1000 Vin Scully Ave, Los Angeles, CA 90012' },
        { 'name': 'Miami Marlins', 'address': '501 Marlins Way, Miami, FL 33125' },
        { 'name': 'Milwaukee Brewers', 'address': '1 Brewers Way, Milwaukee, WI 53214' },
        { 'name': 'Minnesota Twins', 'address': '1 Twins Way, Minneapolis, MN 55403' },
        { 'team': 'NYC', 'name': 'New York Yankees', 'address': '1 E 161 St, The Bronx, NY 10451' },
        { 'team': 'MET', 'name': 'New York Mets', 'address': '41 Seaver Way, Queens, NY 11368' },
        { 'name': 'Oakland Athletics', 'address': '7000 Coliseum Way, Oakland, CA 94621' },
        { 'name': 'Philadelphia Phillies', 'address': '1 Citizens Bank Way, Philadelphia, PA 19148' },
        { 'name': 'Pittsburgh Pirates', 'address': '115 Federal St, Pittsburgh, PA 15212' },
        { 'name': 'San Diego Padres', 'address': '100 Park Blvd, San Diego, CA 92101' },
        { 'name': 'San Francisco Giants', 'address': '24 Willie Mays Plaza, San Francisco, CA 94107' },
        { 'name': 'Seattle Mariners', 'address': '1250 1st Ave S, Seattle, WA 98134' },
        { 'name': 'St. Louis Cardinals', 'address': '700 Clark Ave, St. Louis, MO 63102' },
        { 'team': 'TBA', 'name': 'Tampa Bay Rays', 'address': '1 Tropicana Dr., St. Petersburg, FL 33705' },
        { 'team': 'TEX', 'name': 'Texas Rangers', 'address': '734 Stadium Dr, Arlington, TX 76011' },
        { 'name': 'Toronto Blue Jays', 'address': '1 Blue Jays Way, Toronto, ON M5V 1J1, Canada' },
        { 'name': 'Washington Nationals', 'address': '1500 S Capitol St SE, Washington, DC 20003' }
    ]

    teams_zip_df = pd.DataFrame.from_dict(teams)
    # teams_zip_df['streetAddress'] = teams_zip_df['address'].str.split(',', expand=True)[0]
    # teams_zip_df['city'] = teams_zip_df['address'].str.split(',', expand=True)[1]
    # teams_zip_df['state'] = teams_zip_df['address'].str.split(',', expand=True)[2].str.split(' ', expand=True)[1]

    # -- BLUE JAY'S POSTAL CODE IS DIFFERENT : IGNORE FOR NOW ----------------------------------------------------
    
    # teams_zip_df['zip'] = teams_zip_df[teams_zip_df['name'] == 'Toronto Blue Jays'].address.str.split(',', expand=True)[2].str.split(' ', expand=True)[2]
    # teams_zip_df['zip'] = teams_zip_df[teams_zip_df['name'] == 'Toronto Blue Jays'].address.str.split(',', expand=True)[2]
    # teams_zip_df[teams_zip_df['name'] == 'Toronto Blue Jays'].address.str.split(',', expand=True)[2].str.split(' ', expand=True)[2:3]
    
    # ------------------------------------------------------------------------------------------------------------

    teams_zip_df['zip'] = teams_zip_df['address'].str.split(',', expand=True)[2].str.split(' ', expand=True)[2]
    teams_zip_df.sort_values("team", inplace=True) 
    teams_zip_df.set_index('team', inplace=True)    
        
    return get_distance_in_miles(
        home_team_zip = teams_zip_df.loc[home_team_code]['zip'], 
        away_team_zip = teams_zip_df.loc[away_team_code]['zip'])

## How to use the functions above (see Distance column for result)

In [373]:
data = [
        ['HOU', 'TEX', 5.511], 
        ['TBA', 'HOU', 1.251], 
        ['HOU', 'NYC', 6.015]        
        ] 
        
data_df = pd.DataFrame(data, columns=['Home', 'Away', 'KPI-1']) 
data_df['Distance'] = [get_home_away_distance_in_miles(home, away) for home, away in zip(data_df.Home, data_df.Away)]
data_df

  Home Away  KPI-1  Distance
0  HOU  TEX  5.511   230.608
1  TBA  HOU  1.251   782.805
2  HOU  NYC  6.015  1424.527