In [48]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.datasets import make_blobs
from collections import Counter
from path import Path
import hvplot.pandas
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [49]:
!pip install mpu
!pip install uszipcode

Requirement already satisfied: mpu in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (0.23.1)
Requirement already satisfied: uszipcode in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (0.2.4)
Requirement already satisfied: sqlalchemy in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from uszipcode) (1.3.18)
Requirement already satisfied: attrs in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from uszipcode) (19.3.0)
Requirement already satisfied: pathlib-mate in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from uszipcode) (1.0.0)
Requirement already satisfied: requests in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from uszipcode) (2.24.0)
Requirement already satisfied: six in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from pathlib-mate->uszipcode) (1.15.0)
Requirement already satisfied: autopep8 in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from pathlib-mate->uszipcode) (1.4.3)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from requests->uszipcode) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from requests->uszipcode) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from requests->uszipcode) (2.10)
Requirement already satisfied: pycodestyle>=2.4.0 in c:\users\dovu9\anaconda3\envs\dev\lib\site-packages (from autopep8->pathlib-mate->uszipcode) (2.5.0)

In [50]:
csv_path = Path("../Data Prep/Jack/Resources/2018_pitching.csv")
df = pd.read_csv(csv_path)
df.tail()

,Rk,Name,Tm,Lg,W,L,W-L%,ERA,G,GS▼,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
795,796,Kirby Yates,SDP,NL,5,3,0.625,2.14,65,0,...,2,250,180.0,2.54,0.921,5.9,0.9,2.4,12.9,5.29
796,797,Mike Zagurski,MIL,NL,0,1,0.000,63.00,2,0,...,0,10,9.0,5.16,7.000,45.0,0.0,18.0,18.0,1.00
797,798,Daniel Zamora,NYM,NL,1,0,1.000,3.00,16,0,...,0,36,129.0,2.38,1.000,6.0,1.0,3.0,16.0,5.33
798,799,Rob Zastryzny,CHC,NL,1,0,1.000,4.76,6,0,...,0,26,93.0,4.75,1.765,9.5,0.0,6.4,4.8,0.75
799,800,Brad Ziegler,TOT,NL,2,6,0.250,3.91,82,0,...,1,305,102.0,4.31,1.303,8.7,1.0,3.1,6.1,2.00

In [51]:
csv_path = Path("../Data Prep/Jack/Resources/batting_2018.csv")
df1 = pd.read_csv(csv_path)
df1.tail()

,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
27,TEX,50,27.4,4.55,162,6163,5453,737,1308,266,...,0.404,0.722,89,2204,104,88,33,34,16,1093
28,TOR,63,28.9,4.38,162,6076,5477,709,1336,320,...,0.427,0.739,102,2339,118,58,5,37,15,1036
29,WSN,53,27.6,4.76,162,6288,5517,771,1402,284,...,0.419,0.753,98,2309,104,59,41,40,56,1180
30,LgAvg,46,28.1,4.45,162,6171,5514,721,1367,275,...,0.409,0.728,97,2258,115,64,27,41,31,1101
31,NaN,1379,28.1,4.45,4862,185139,165432,21630,41018,8264,...,0.409,0.728,97,67731,3457,1922,823,1235,929,33042

In [52]:
csv_path = Path("../Data Prep/Jack/Resources/2018_astros_sced.csv")
df_sche = pd.read_csv(csv_path)
df_sche.head()

,Game#,Game Date,Seq,Opp,Lg,Result,Astros Score,Opposing Score,Starting Pitcher,Th,...,Pit,Str,Bal,Fou,Cal,Sw,InPlay,C-G,C-GS,W-L Career
0,1,3/29/18,-,TEX,AL,W,4,1,Justin Verlander,R,...,90,52,38,16,12,9,15,386,386,189-114
1,2,3/30/18,-,TEX,AL,L,1,5,Dallas Keuchel,L,...,99,60,39,10,21,9,20,159,150,64-53
2,3,3/31/18,-,TEX,AL,W,9,3,Lance McCullers,R,...,89,58,31,10,23,15,10,59,59,20-16
3,4,4/1/18,-,TEX,AL,W,8,2,Gerrit Cole,R,...,102,65,37,13,20,21,11,128,128,60-42
4,5,4/2/18,-,BAL,AL,W,6,1,Charlie Morton,R,...,91,56,35,9,15,17,15,188,187,61-78

In [53]:
df

,Rk,Name,Tm,Lg,W,L,W-L%,ERA,G,GS▼,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,1,Jhoulys Chacin,MIL,NL,15,8,0.652,3.50,35,35,...,5,796,116.0,4.03,1.163,7.1,0.8,3.3,7.3,2.20
1,2,Dallas Keuchel,HOU,AL,12,11,0.522,3.74,34,34,...,9,874,111.0,3.69,1.314,9.3,0.8,2.6,6.7,2.64
2,3,Justin Verlander,HOU,AL,16,9,0.640,2.52,34,34,...,5,833,164.0,2.78,0.902,6.6,1.2,1.6,12.2,7.84
3,4,Patrick Corbin,ARI,NL,11,7,0.611,3.15,33,33,...,8,800,133.0,2.47,1.050,7.3,0.7,2.2,11.1,5.13
4,5,Kyle Freeland,COL,NL,17,7,0.708,2.85,33,33,...,2,844,166.0,3.67,1.245,8.1,0.8,3.1,7.7,2.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Kirby Yates,SDP,NL,5,3,0.625,2.14,65,0,...,2,250,180.0,2.54,0.921,5.9,0.9,2.4,12.9,5.29
796,797,Mike Zagurski,MIL,NL,0,1,0.000,63.00,2,0,...,0,10,9.0,5.16,7.000,45.0,0.0,18.0,18.0,1.00
797,798,Daniel Zamora,NYM,NL,1,0,1.000,3.00,16,0,...,0,36,129.0,2.38,1.000,6.0,1.0,3.0,16.0,5.33
798,799,Rob Zastryzny,CHC,NL,1,0,1.000,4.76,6,0,...,0,26,93.0,4.75,1.765,9.5,0.0,6.4,4.8,0.75
799,800,Brad Ziegler,TOT,NL,2,6,0.250,3.91,82,0,...,1,305,102.0,4.31,1.303,8.7,1.0,3.1,6.1,2.00

In [54]:
df_result = pd.read_csv(Path("random.txt"))
# df_2019 = df_2019[["Opp", "Result", "Starting Pitcher", "Opposing Pitcher", "Game Date"]]
df_home_away = pd.read_csv(Path("2019wl.txt"))
df_home_away.head()

,Game#,Game Date,Seq,Team,Lg,Opp,LgOpp,Hm/Aw,TimeDay,Att,...,Record,Div Rk,Lg Rk,MLB Rk,GBL,Strk,Winning Pitcher,Losing Pitcher,Save Pitcher,Home Runs
0,1,2019-03-28,-,HOU,AL,TBA,AL,Away,Day,"25,025",...,1-0,1,2,5,--,W1,Justin Verlander,Blake Snell,---,"Altuve, Brantley, Springer"
1,2,2019-03-29,-,HOU,AL,TBA,AL,Away,Night,"13,059",...,1-1,3,8,15,1.0,L1,Charlie Morton,Gerrit Cole,Jose Alvarado,---
2,3,2019-03-30,-,HOU,AL,TBA,AL,Away,Night,"16,010",...,1-2,5,14,23,2.0,L2,Tyler Glasnow,Collin McHugh,Jose Alvarado,Bregman
3,4,2019-03-31,-,HOU,AL,TBA,AL,Away,Day,"18,473",...,1-3,5,15,27,3.0,L3,Yonny Chirinos,Wade Miley,Diego Castillo,Marisnick
4,5,2019-04-01,-,HOU,AL,TEX,AL,Away,Night,"18,056",...,2-3,4,11,18,3.0,W1,Brad Peacock,Adrian Sampson,Roberto Osuna,Springer

In [55]:
def clean_schedule_data(df, df1):
    df = df[["Game Date", "Opp", "Result", "Starting Pitcher", "Opposing Pitcher"]]
    df.set_index("Game Date", inplace = True)
    
    df1 = df1[["Hm/Aw", "Game Date"]]
    df1.set_index("Game Date", inplace = True)
    
    return_df = pd.merge(df, df1, left_index=True, right_index=True)
    return_df.dropna(inplace=True)
    
    Home = []
    Away = []
    
    x = len(return_df)
    return_df.reset_index(inplace = True)
    return_df.drop(columns = "Game Date", inplace = True)
    
    for number in return_df.index:
        if return_df.loc[number]["Hm/Aw"] == "Away":
            Home.append(return_df.loc[number]["Opp"])
            Away.append("HOU")
        else:
            Home.append("HOU")
            Away.append(return_df.loc[number]["Opp"])
            
    return_df["Home"] = Home
    return_df["Away"] = Away
    
#     return_df.drop(columns = "Hm/Aw", inplace = True)
    
    return_df["Distance"] = [get_home_away_distance_in_miles(home, away) for home, away in zip(return_df.Home, return_df.Away)]
    
#     for number in return_df.index:
#         if return_df.loc[number]["Hm/Aw"] == "Home":
# #             return_df.loc[number]["Distance"]
#             a = (return_df.loc[number]["Distance"] * -1)
#             return_df.loc[number]["Distance"] = a

    return_df['Distance'] = [distance * -1 if stadium == 'Home' else distance for stadium, 
                             distance in zip(return_df['Hm/Aw'], return_df['Distance'])]

    return_df.set_index("Opp", inplace = True)
    
    return return_df

In [56]:
def clean_batting_data(df1):
    df1.drop(index = [30, 31], inplace = True)
    df1.set_index("Tm", inplace = True)
    df1 = df1[["BatAge", "R/G", "PA", "AB", "H", "2B", "3B", "HR", "BB", "SO", "BA", "OBP", "SLG", "OPS", "TB", "HBP", "LOB"]]
    return df1

In [57]:
def clean_pitching_data(df):
    df.set_index("Name", inplace = True)
    df = df[["Tm", "ERA", "CG", "IP", "ERA+", "FIP", "WHIP", "H9", "HR9", "BB9", "SO9", "SO/W"]]
    return df

In [58]:

import pandas as pd
import mpu
from uszipcode import SearchEngine

def get_distance_in_miles(home_team_zip, away_team_zip):        
    
    #for extensive list of zipcodes, set simple_zipcode=False
    search = SearchEngine(simple_zipcode=True)
    zip1 = search.by_zipcode(home_team_zip)
    zip2 = search.by_zipcode(away_team_zip)

    return round(mpu.haversine_distance((zip1.lat, zip1.lng), (zip2.lat, zip2.lng)), 2)

def get_home_away_distance_in_miles(home_team_code, away_team_code):
    
    teams = [
        { 'team': 'ARI', 'name': 'Arizona Diamondbacks', 'address': '401 E Jefferson St, Phoenix, AZ 85004' },
        { 'team': 'ATL', 'name': 'Atlanta Braves',  'address': '755 Battery Ave SE, Atlanta, GA 30339' },
        { 'team': 'BAL', 'name': 'Baltimore Orioles', 'address': '333 W Camden St, Baltimore, MD 21201' },
        { 'team': 'BOS', 'name': 'Boston Red Sox', 'address': '4 Jersey St, Boston, MA 02215' },
        { 'team': 'CHA', 'name': 'Chicago White Sox', 'address': '333 W 35th St, Chicago, IL 60616'},
        { 'team': 'CHN', 'name': 'Chicago Cubs', 'address': '1060 W Addison St, Chicago, IL 60613' },
        { 'team': 'CIN', 'name': 'Cincinnati Reds', 'address': '100 Joe Nuxhall Way, Cincinnati, OH 45202' }, 
        { 'team': 'CLE', 'name': 'Cleveland Indians', 'address': '2401 Ontario St, Cleveland, OH 44115' },
        { 'team': 'COL', 'name': 'Colorado Rockies', 'address': '2001 Blake St, Denver, CO 80205' },
        { 'team': 'DET', 'name': 'Detroit Tigers', 'address': '2100 Woodward Ave, Detroit, MI 48201' },
        { 'team': 'HOU', 'name': 'Houston Astros', 'address': '501 Crawford St, Houston, TX 77002' },
        { 'team': 'KCA', 'name': 'Kansas City Royals', 'address': '1 Royal Way, Kansas City, MO 64129' },
        { 'team': 'ANA', 'name': 'Los Angeles Angels', 'address': '2000 E Gene Autry Way, Anaheim, CA 92806' },
        { 'team': 'LAN', 'name': 'Los Angeles Dodgers', 'address': '1000 Vin Scully Ave, Los Angeles, CA 90012' },
        { 'team': 'MIA', 'name': 'Miami Marlins', 'address': '501 Marlins Way, Miami, FL 33125' },
        { 'team': 'MIL', 'name': 'Milwaukee Brewers', 'address': '1 Brewers Way, Milwaukee, WI 53214' },
        { 'team': 'MIN', 'name': 'Minnesota Twins', 'address': '1 Twins Way, Minneapolis, MN 55403' },
        { 'team': 'NYA', 'name': 'New York Yankees', 'address': '1 E 161 St, The Bronx, NY 10451' },
        { 'team': 'NYN', 'name': 'New York Mets', 'address': '41 Seaver Way, Queens, NY 11368' },
        { 'team': 'OAK', 'name': 'Oakland Athletics', 'address': '7000 Coliseum Way, Oakland, CA 94621' },
        { 'team': 'PHI', 'name': 'Philadelphia Phillies', 'address': '1 Citizens Bank Way, Philadelphia, PA 19148' },
        { 'team': 'PIT', 'name': 'Pittsburgh Pirates', 'address': '115 Federal St, Pittsburgh, PA 15212' },
        { 'team': 'SDN', 'name': 'San Diego Padres', 'address': '100 Park Blvd, San Diego, CA 92101' },
        { 'team': 'SFN', 'name': 'San Francisco Giants', 'address': '24 Willie Mays Plaza, San Francisco, CA 94107' },
        { 'team': 'SEA', 'name': 'Seattle Mariners', 'address': '1250 1st Ave S, Seattle, WA 98134' },
        { 'team': 'SLN', 'name': 'St. Louis Cardinals', 'address': '700 Clark Ave, St. Louis, MO 63102' },
        { 'team': 'TBA', 'name': 'Tampa Bay Rays', 'address': '1 Tropicana Dr., St. Petersburg, FL 33705' },
        { 'team': 'TEX', 'name': 'Texas Rangers', 'address': '734 Stadium Dr, Arlington, TX 76011' },
        { 'team': 'TOR', 'name': 'Toronto Blue Jays', 'address': '1 Blue Jays Way, Toronto, ON 14305' },
        { 'team': 'WAS', 'name': 'Washington Nationals', 'address': '1500 S Capitol St SE, Washington, DC 20003' }
    ]

    teams_zip_df = pd.DataFrame.from_dict(teams)
    # teams_zip_df['streetAddress'] = teams_zip_df['address'].str.split(',', expand=True)[0]
    # teams_zip_df['city'] = teams_zip_df['address'].str.split(',', expand=True)[1]
    # teams_zip_df['state'] = teams_zip_df['address'].str.split(',', expand=True)[2].str.split(' ', expand=True)[1]

    # -- BLUE JAY'S POSTAL CODE IS DIFFERENT : IGNORE FOR NOW ----------------------------------------------------
    
    # teams_zip_df['zip'] = teams_zip_df[teams_zip_df['name'] == 'Toronto Blue Jays'].address.str.split(',', expand=True)[2].str.split(' ', expand=True)[2]
    # teams_zip_df['zip'] = teams_zip_df[teams_zip_df['name'] == 'Toronto Blue Jays'].address.str.split(',', expand=True)[2]
    # teams_zip_df[teams_zip_df['name'] == 'Toronto Blue Jays'].address.str.split(',', expand=True)[2].str.split(' ', expand=True)[2:3]
    
    # ------------------------------------------------------------------------------------------------------------

    teams_zip_df['zip'] = teams_zip_df['address'].str.split(',', expand=True)[2].str.split(' ', expand=True)[2]
    teams_zip_df.sort_values("team", inplace=True) 
    teams_zip_df.set_index('team', inplace=True)    
        
    return get_distance_in_miles(
        home_team_zip = teams_zip_df.loc[home_team_code]['zip'], 
        away_team_zip = teams_zip_df.loc[away_team_code]['zip'])

In [59]:
def combine_df(df, df_bat, df_pitch):
        
    df_hou = df_bat.loc["HOU"]
    df_hou = pd.DataFrame(df_hou)
    df_hou = df_hou.transpose()
    df_hou.rename(columns = {
        "BatAge" : "Astros-BatAge", 
        "R/G" : "Astros-R/G", 
        "PA" : "Astros-PA", 
        "AB" : "Astros-AB", 
        "H" : "Astros-H", 
        "2B" : "Astros-2B", 
        "3B" : "Astros-3B", 
        "HR" : "Astros-HR",
        "BB" : "Astros-BB", 
        "SO" : "Astros-SO", 
        "BA" : "Astros-BA", 
        "OBP" : "Astros-OBP", 
        "SLG" : "Astros-SLG", 
        "OPS" : "Astros-OPS", 
        "TB" : "Astros-TB", 
        "HBP" : "Astros-HBP", 
        "LOB" : "Astros-LOB",
                }, inplace=True)
    
    merge_df = pd.merge(df, df_bat, left_index=True, right_index=True)
    
    df_hou["key"] = 1
    merge_df["key"] = 1
    
    df = pd.merge(df_hou, merge, on='key')
    del df['key']
    
    random_number = list(range(len(df)))
    
    opp_pitch_class = []
    opp_pitch_class_2 = []
    opp_pitch_class_3 = []
    opp_pitch_class_4 = []
    opp_pitch_class_5 = []
    opp_pitch_class_6 = []
    opp_pitch_class_7 = []
    opp_pitch_class_8 = []
    opp_pitch_class_9 = []
    opp_pitch_class_10 = []
    opp_pitch_class_11 = []
    
    for number in random_number:
        if merge["Opposing Pitcher"][number] in df_pitch_combined.index:
            name = merge["Opposing Pitcher"][number]
            opp_pitch_class.append(df_pitch.loc[name]["ERA"])
            opp_pitch_class_2.append(df_pitch.loc[name]["CG"])
            opp_pitch_class_3.append(df_pitch.loc[name]["IP"])
            opp_pitch_class_4.append(df_pitch.loc[name]["ERA+"])
            opp_pitch_class_5.append(df_pitch.loc[name]["FIP"])
            opp_pitch_class_6.append(df_pitch.loc[name]["WHIP"])
            opp_pitch_class_7.append(df_pitch.loc[name]["H9"])
            opp_pitch_class_8.append(df_pitch.loc[name]["HR9"])
            opp_pitch_class_9.append(df_pitch.loc[name]["BB9"])
            opp_pitch_class_10.append(df_pitch.loc[name]["SO9"])
            opp_pitch_class_11.append(df_pitch.loc[name]["SO/W"])

    start_pitch_class = []
    start_pitch_class_2 = []
    start_pitch_class_3 = []
    start_pitch_class_4 = []
    start_pitch_class_5 = []
    start_pitch_class_6 = []
    start_pitch_class_7 = []
    start_pitch_class_8 = []
    start_pitch_class_9 = []
    start_pitch_class_10 = []
    start_pitch_class_11 = []
       
    for number in random_number:
        if merge["Starting Pitcher"][number] in df_pitch_combined.index:
            name = merge["Starting Pitcher"][number]
            start_pitch_class.append(df_pitch.loc[name]["ERA"])
            start_pitch_class_2.append(df_pitch.loc[name]["CG"])
            start_pitch_class_3.append(df_pitch.loc[name]["IP"])
            start_pitch_class_4.append(df_pitch.loc[name]["ERA+"])
            start_pitch_class_5.append(df_pitch.loc[name]["FIP"])
            start_pitch_class_6.append(df_pitch.loc[name]["WHIP"])
            start_pitch_class_7.append(df_pitch.loc[name]["H9"])
            start_pitch_class_8.append(df_pitch.loc[name]["HR9"])
            start_pitch_class_9.append(df_pitch.loc[name]["BB9"])
            start_pitch_class_10.append(df_pitch.loc[name]["SO9"])
            start_pitch_class_11.append(df_pitch.loc[name]["SO/W"])
    
    
    
    
    
    return_df["ERA-Starting "] = start_pitch_class
    return_df["ERA-Opposing"] = opp_pitch_class

    return_df["CG-Starting"] = start_pitch_class_2
    return_df["CG-Opposing"] = opp_pitch_class_2

    return_df["IP-Starting"] = start_pitch_class_3
    return_df["IP-Opposing"] = opp_pitch_class_3
    
    return_df["ERA+-Starting "] = start_pitch_class_4
    return_df["ERA+-Opposing"] = opp_pitch_class_4

    return_df["FIP-Starting"] = start_pitch_class_5
    return_df["FIP-Opposing"] = opp_pitch_class_5

    return_df["WHIP-Starting"] = start_pitch_class_6
    return_df["WHIP-Opposing"] = opp_pitch_class_6
    
    return_df["H9-Starting "] = start_pitch_class_7
    return_df["H9-Opposing"] = opp_pitch_class_7

    return_df["HR9-Starting"] = start_pitch_class_8
    return_df["HR9-Opposing"] = opp_pitch_class_8

    return_df["BB9-Starting"] = start_pitch_class_9
    return_df["BB9-Opposing"] = opp_pitch_class_9
    
    return_df["SO9-Starting "] = start_pitch_class_10
    return_df["SO9-Opposing"] = opp_pitch_class_10

    return_df["SO/W-Starting"] = start_pitch_class_11
    return_df["SO/W-Opposing"] = opp_pitch_class_10


    
    
    return return_df

In [60]:
print("Run now")

Run now

In [44]:
c = clean_batting_data(df1)

In [47]:
c.loc["HOU"]

BatAge      28.200
R/G          4.920
PA        6146.000
AB        5453.000
H         1390.000
2B         278.000
3B          18.000
HR         205.000
BB         565.000
SO        1197.000
BA           0.255
OBP          0.329
SLG          0.425
OPS          0.754
TB        2319.000
HBP         61.000
LOB       1052.000
Name: HOU, dtype: float64

In [14]:
b = clean_pitching_data(df)

In [15]:
a = clean_schedule_data(df_result, df_home_away)

UnboundLocalError: local variable 'df' referenced before assignment

In [ ]:
combine_df(a, b, c)

In [61]:
combine_df(clean_schedule_data(df_result, df_home_away), clean_pitching_data(df), clean_batting_data(df1))

KeyError: 'HOU'