In [58]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.datasets import make_blobs
from collections import Counter
from path import Path
import hvplot.pandas
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
import mpu
from uszipcode import SearchEngine

In [59]:
csv_path = Path("../Data Prep/Jack/Resources/2018_pitching.csv")
df_pitch = pd.read_csv(csv_path)
df_pitch.tail()

,Rk,Name,Tm,Lg,W,L,W-L%,ERA,G,GS▼,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
795,796,Kirby Yates,SDP,NL,5,3,0.625,2.14,65,0,...,2,250,180.0,2.54,0.921,5.9,0.9,2.4,12.9,5.29
796,797,Mike Zagurski,MIL,NL,0,1,0.000,63.00,2,0,...,0,10,9.0,5.16,7.000,45.0,0.0,18.0,18.0,1.00
797,798,Daniel Zamora,NYM,NL,1,0,1.000,3.00,16,0,...,0,36,129.0,2.38,1.000,6.0,1.0,3.0,16.0,5.33
798,799,Rob Zastryzny,CHC,NL,1,0,1.000,4.76,6,0,...,0,26,93.0,4.75,1.765,9.5,0.0,6.4,4.8,0.75
799,800,Brad Ziegler,TOT,NL,2,6,0.250,3.91,82,0,...,1,305,102.0,4.31,1.303,8.7,1.0,3.1,6.1,2.00

In [87]:
csv_path = Path("../Data Prep/Jack/Resources/batting_2018.csv")
df_bat = pd.read_csv(csv_path)
df_bat.tail(10)

,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
22,SDP,49,26.8,3.81,162,6059,5486,617,1289,250,...,0.380,0.677,88,2085,122,31,35,36,28,1028
23,SEA,53,29.8,4.18,162,6087,5513,677,1402,256,...,0.408,0.722,102,2250,128,70,29,41,17,1084
24,SFG,48,29.8,3.72,162,6113,5541,603,1324,255,...,0.368,0.667,85,2038,113,49,33,42,40,1101
25,STL,49,28.0,4.69,162,6200,5498,759,1369,248,...,0.409,0.730,99,2250,92,80,46,48,40,1101
26,TBR,54,27.1,4.42,162,6195,5475,716,1415,274,...,0.406,0.740,105,2225,122,101,28,50,17,1156
27,TEX,50,27.4,4.55,162,6163,5453,737,1308,266,...,0.404,0.722,89,2204,104,88,33,34,16,1093
28,TOR,63,28.9,4.38,162,6076,5477,709,1336,320,...,0.427,0.739,102,2339,118,58,5,37,15,1036
29,WSN,53,27.6,4.76,162,6288,5517,771,1402,284,...,0.419,0.753,98,2309,104,59,41,40,56,1180
30,LgAvg,46,28.1,4.45,162,6171,5514,721,1367,275,...,0.409,0.728,97,2258,115,64,27,41,31,1101
31,NaN,1379,28.1,4.45,4862,185139,165432,21630,41018,8264,...,0.409,0.728,97,67731,3457,1922,823,1235,929,33042

In [61]:
csv_path = Path("../Data Prep/Jack/Resources/2018_astros_sced.csv")
df_sche = pd.read_csv(csv_path)
df_sche.head()

,Game#,Game Date,Seq,Opp,Lg,Result,Astros Score,Opposing Score,Starting Pitcher,Th,...,Pit,Str,Bal,Fou,Cal,Sw,InPlay,C-G,C-GS,W-L Career
0,1,3/29/18,-,TEX,AL,W,4,1,Justin Verlander,R,...,90,52,38,16,12,9,15,386,386,189-114
1,2,3/30/18,-,TEX,AL,L,1,5,Dallas Keuchel,L,...,99,60,39,10,21,9,20,159,150,64-53
2,3,3/31/18,-,TEX,AL,W,9,3,Lance McCullers,R,...,89,58,31,10,23,15,10,59,59,20-16
3,4,4/1/18,-,TEX,AL,W,8,2,Gerrit Cole,R,...,102,65,37,13,20,21,11,128,128,60-42
4,5,4/2/18,-,BAL,AL,W,6,1,Charlie Morton,R,...,91,56,35,9,15,17,15,188,187,61-78

In [62]:
df_result = pd.read_csv(Path("random.txt"))
df_home_away = pd.read_csv(Path("2018wl.txt"))
df_home_away.head()

,Game#,Game Date,Seq,Team,Lg,Opp,LgOpp,Hm/Aw,TimeDay,Att,...,Record,Div Rk,Lg Rk,MLB Rk,GBL,Strk,Winning Pitcher,Losing Pitcher,Save Pitcher,Home Runs
0,1,2018-03-29,-,HOU,AL,TEX,AL,Away,Day,"47,253",...,1-0,1,5,6,--,W1,Justin Verlander,Cole Hamels,---,"Marisnick, Springer"
1,2,2018-03-30,-,HOU,AL,TEX,AL,Away,Night,"35,469",...,1-1,3,8,19,0.5,L1,Doug Fister,Dallas Keuchel,---,---
2,3,2018-03-31,-,HOU,AL,TEX,AL,Away,Day,"36,892",...,2-1,2,5,9,--,W1,Lance McCullers,Matt Moore,---,"Correa, Marisnick"
3,4,2018-04-01,-,HOU,AL,TEX,AL,Away,Day,"26,758",...,3-1,2,4,7,--,W2,Gerrit Cole,Mike Minor,---,---
4,5,2018-04-02,-,HOU,AL,BAL,AL,Home,Night,"42,675",...,4-1,1,2,3,--,W3,Charlie Morton,Chris Tillman,---,Gonzalez

In [63]:
team_acry = pd.read_csv(Path("team_acry.csv"))
team_acry.set_index("Team(Bat)", inplace = True)
team_acry.head()

          Team(Old)            Team_Names Team(New)
Team(Bat)
ARI             ARI  Arizona Diamondbacks       ARI
ATL             ATL        Atlanta Braves       ATL
BAL             BAL     Baltimore Orioles       BAL
BOS             BOS        Boston Red Sox       BOS
CHC             CHC          Chicago Cubs       CHN

In [64]:
def clean_schedule_data(df, df1):
    
    # pulling only the columns we want from the pitching log dataframe
    df = df[["Game#", "Opp", "Result", "Starting Pitcher", "Opposing Pitcher"]]
    df.set_index("Game#", inplace = True)
    
    # pulling only the columns we want from the schedule log dataframe
    df1 = df1[["Hm/Aw", "Game#"]]
    df1.set_index("Game#", inplace = True)
    
    # combining into one dataframe to work with
    return_df = pd.merge(df, df1, left_index=True, right_index=True)
    return_df.dropna(inplace=True)
    
    # changing results from W/L to 1/0
    true_w = return_df["Result"].str.contains('W', na=True)
    binary_result = []
    for row in return_df.index:
        if true_w[row]:
            binary_result.append(1)
        else:
            binary_result.append(0)
        
    return_df["Result"] = binary_result
    
    
    # getting the distance between thw two clubs
    Home = []
    Away = []
    
    x = len(return_df)
    return_df.reset_index(inplace = True)
    return_df.drop(columns = "Game#", inplace = True)
    
    for number in return_df.index:
        if return_df.loc[number]["Hm/Aw"] == "Away":
            Home.append(return_df.loc[number]["Opp"])
            Away.append("HOU")
        else:
            Home.append("HOU")
            Away.append(return_df.loc[number]["Opp"])
            
    return_df["Home"] = Home
    return_df["Away"] = Away
        
    return_df["Distance"] = [get_home_away_distance_in_miles(home, away) for home, away in zip(return_df.Home, return_df.Away)]

    return_df['Distance'] = [distance * -1 if stadium == 'Home' else distance for stadium, 
                             distance in zip(return_df['Hm/Aw'], return_df['Distance'])]
    
    
    # setting index and dropping off columns we don't need anymore
    return_df.set_index("Opp", inplace = True)
    
    return_df.drop(columns = ["Hm/Aw", "Home", "Away"], inplace = True)
    
    return return_df

In [85]:
def clean_batting_data(df1):
    
    # dropping last two rows as they are average and total
    df1.drop(index = [30, 31], inplace = True)
    
    # setting index to team name
    df1.set_index("Tm", inplace = True)
    
    # changing team names to match
    new_team_name = []

    for team in df1.index:
        if team in team_acry.index:
            new_team_name.append(team_acry.loc[team]["Team(New)"])
            
    df1.index = new_team_name
            
    # setting index to team name
#     df1.set_index("Tm", inplace = True)
    
    # pulling only the metrics we want
    df1 = df1[["BatAge", "R/G", "PA", "AB", "H", "2B", "3B", "HR", "BB", "SO", "BA", "OBP", "SLG", "OPS", "TB", "HBP", "LOB"]]
    
    # returning the dataframe
    return df1

In [66]:
def clean_pitching_data(df):
    
    # need to get rid of extra space in pitcher names
    random_number = list(range(len(df)))
    list_of_pitchers = []
    for number in random_number:
        string = df["Name"][number] 
        string = string.replace(u'\xa0', u' ')
        list_of_pitchers.append(string)
    df["Pitcher"] = list_of_pitchers
    
    # setting index to pitchers
    df.set_index("Pitcher", inplace = True)
    
    # pulling only the metrics we want
    df = df[["Tm", "ERA", "CG", "IP", "ERA+", "FIP", "WHIP", "H9", "HR9", "BB9", "SO9", "SO/W"]]
    
    # returning the dataframe
    return df

In [67]:

import pandas as pd
import mpu
from uszipcode import SearchEngine

def get_distance_in_miles(home_team_zip, away_team_zip):        
    
    #for extensive list of zipcodes, set simple_zipcode=False
    search = SearchEngine(simple_zipcode=True)
    zip1 = search.by_zipcode(home_team_zip)
    zip2 = search.by_zipcode(away_team_zip)

    return round(mpu.haversine_distance((zip1.lat, zip1.lng), (zip2.lat, zip2.lng)), 2)

def get_home_away_distance_in_miles(home_team_code, away_team_code):
    
    teams = [
        { 'team': 'ARI', 'name': 'Arizona Diamondbacks', 'address': '401 E Jefferson St, Phoenix, AZ 85004' },
        { 'team': 'ATL', 'name': 'Atlanta Braves',  'address': '755 Battery Ave SE, Atlanta, GA 30339' },
        { 'team': 'BAL', 'name': 'Baltimore Orioles', 'address': '333 W Camden St, Baltimore, MD 21201' },
        { 'team': 'BOS', 'name': 'Boston Red Sox', 'address': '4 Jersey St, Boston, MA 02215' },
        { 'team': 'CHA', 'name': 'Chicago White Sox', 'address': '333 W 35th St, Chicago, IL 60616'},
        { 'team': 'CHN', 'name': 'Chicago Cubs', 'address': '1060 W Addison St, Chicago, IL 60613' },
        { 'team': 'CIN', 'name': 'Cincinnati Reds', 'address': '100 Joe Nuxhall Way, Cincinnati, OH 45202' }, 
        { 'team': 'CLE', 'name': 'Cleveland Indians', 'address': '2401 Ontario St, Cleveland, OH 44115' },
        { 'team': 'COL', 'name': 'Colorado Rockies', 'address': '2001 Blake St, Denver, CO 80205' },
        { 'team': 'DET', 'name': 'Detroit Tigers', 'address': '2100 Woodward Ave, Detroit, MI 48201' },
        { 'team': 'HOU', 'name': 'Houston Astros', 'address': '501 Crawford St, Houston, TX 77002' },
        { 'team': 'KCA', 'name': 'Kansas City Royals', 'address': '1 Royal Way, Kansas City, MO 64129' },
        { 'team': 'ANA', 'name': 'Los Angeles Angels', 'address': '2000 E Gene Autry Way, Anaheim, CA 92806' },
        { 'team': 'LAN', 'name': 'Los Angeles Dodgers', 'address': '1000 Vin Scully Ave, Los Angeles, CA 90012' },
        { 'team': 'MIA', 'name': 'Miami Marlins', 'address': '501 Marlins Way, Miami, FL 33125' },
        { 'team': 'MIL', 'name': 'Milwaukee Brewers', 'address': '1 Brewers Way, Milwaukee, WI 53214' },
        { 'team': 'MIN', 'name': 'Minnesota Twins', 'address': '1 Twins Way, Minneapolis, MN 55403' },
        { 'team': 'NYA', 'name': 'New York Yankees', 'address': '1 E 161 St, The Bronx, NY 10451' },
        { 'team': 'NYN', 'name': 'New York Mets', 'address': '41 Seaver Way, Queens, NY 11368' },
        { 'team': 'OAK', 'name': 'Oakland Athletics', 'address': '7000 Coliseum Way, Oakland, CA 94621' },
        { 'team': 'PHI', 'name': 'Philadelphia Phillies', 'address': '1 Citizens Bank Way, Philadelphia, PA 19148' },
        { 'team': 'PIT', 'name': 'Pittsburgh Pirates', 'address': '115 Federal St, Pittsburgh, PA 15212' },
        { 'team': 'SDN', 'name': 'San Diego Padres', 'address': '100 Park Blvd, San Diego, CA 92101' },
        { 'team': 'SFN', 'name': 'San Francisco Giants', 'address': '24 Willie Mays Plaza, San Francisco, CA 94107' },
        { 'team': 'SEA', 'name': 'Seattle Mariners', 'address': '1250 1st Ave S, Seattle, WA 98134' },
        { 'team': 'SLN', 'name': 'St. Louis Cardinals', 'address': '700 Clark Ave, St. Louis, MO 63102' },
        { 'team': 'TBA', 'name': 'Tampa Bay Rays', 'address': '1 Tropicana Dr., St. Petersburg, FL 33705' },
        { 'team': 'TEX', 'name': 'Texas Rangers', 'address': '734 Stadium Dr, Arlington, TX 76011' },
        { 'team': 'TOR', 'name': 'Toronto Blue Jays', 'address': '1 Blue Jays Way, Toronto, ON 14305' },
        { 'team': 'WAS', 'name': 'Washington Nationals', 'address': '1500 S Capitol St SE, Washington, DC 20003' }
    ]

    teams_zip_df = pd.DataFrame.from_dict(teams)

    teams_zip_df['zip'] = teams_zip_df['address'].str.split(',', expand=True)[2].str.split(' ', expand=True)[2]
    teams_zip_df.sort_values("team", inplace=True) 
    teams_zip_df.set_index('team', inplace=True)    
        
    return get_distance_in_miles(
        home_team_zip = teams_zip_df.loc[home_team_code]['zip'], 
        away_team_zip = teams_zip_df.loc[away_team_code]['zip'])

In [68]:
def combine_year_df(df_result_schedule, df_bat, df_pitch):
        
    # gathering Houston Astros batting averages
    df_hou = df_bat.loc["HOU"]
    df_hou = pd.DataFrame(df_hou)
    df_hou = df_hou.transpose()
    df_hou.rename(columns = {
        "BatAge" : "Astros-BatAge", 
        "R/G" : "Astros-R/G", 
        "PA" : "Astros-PA", 
        "AB" : "Astros-AB", 
        "H" : "Astros-H", 
        "2B" : "Astros-2B", 
        "3B" : "Astros-3B", 
        "HR" : "Astros-HR",
        "BB" : "Astros-BB", 
        "SO" : "Astros-SO", 
        "BA" : "Astros-BA", 
        "OBP" : "Astros-OBP", 
        "SLG" : "Astros-SLG", 
        "OPS" : "Astros-OPS", 
        "TB" : "Astros-TB", 
        "HBP" : "Astros-HBP", 
        "LOB" : "Astros-LOB",
                }, inplace=True)
    
    # merging databases
    merge_df = pd.merge(df_result_schedule, df_bat, left_index=True, right_index=True)
    df_hou["key"] = 1
    merge_df["key"] = 1
    df = pd.merge(df_hou, merge_df, on='key')
    del df['key']
    
    # pulling metrics for the pitchers    
    random_number = list(range(len(df)))
    
    opp_pitch_class = []
    opp_pitch_class_2 = []
    opp_pitch_class_3 = []
    opp_pitch_class_4 = []
    opp_pitch_class_5 = []
    opp_pitch_class_6 = []
    opp_pitch_class_7 = []
    opp_pitch_class_8 = []
    opp_pitch_class_9 = []
    opp_pitch_class_10 = []
    opp_pitch_class_11 = []
    
    for number in random_number:
        if df["Opposing Pitcher"][number] in df_pitch.index:
            name = df["Opposing Pitcher"][number]
            opp_pitch_class.append(df_pitch.loc[name]["ERA"])
            opp_pitch_class_2.append(df_pitch.loc[name]["CG"])
            opp_pitch_class_3.append(df_pitch.loc[name]["IP"])
            opp_pitch_class_4.append(df_pitch.loc[name]["ERA+"])
            opp_pitch_class_5.append(df_pitch.loc[name]["FIP"])
            opp_pitch_class_6.append(df_pitch.loc[name]["WHIP"])
            opp_pitch_class_7.append(df_pitch.loc[name]["H9"])
            opp_pitch_class_8.append(df_pitch.loc[name]["HR9"])
            opp_pitch_class_9.append(df_pitch.loc[name]["BB9"])
            opp_pitch_class_10.append(df_pitch.loc[name]["SO9"])
            opp_pitch_class_11.append(df_pitch.loc[name]["SO/W"])
        else:
            opp_pitch_class.append(0)
            opp_pitch_class_2.append("N/A")
            opp_pitch_class_3.append("N/A")
            opp_pitch_class_4.append("N/A")
            opp_pitch_class_5.append("N/A")
            opp_pitch_class_6.append("N/A")
            opp_pitch_class_7.append("N/A")
            opp_pitch_class_8.append("N/A")
            opp_pitch_class_9.append("N/A")
            opp_pitch_class_10.append("N/A")
            opp_pitch_class_11.append("N/A")

    start_pitch_class = []
    start_pitch_class_2 = []
    start_pitch_class_3 = []
    start_pitch_class_4 = []
    start_pitch_class_5 = []
    start_pitch_class_6 = []
    start_pitch_class_7 = []
    start_pitch_class_8 = []
    start_pitch_class_9 = []
    start_pitch_class_10 = []
    start_pitch_class_11 = []
       
    for number in random_number:
        if df["Starting Pitcher"][number] in df_pitch.index:
            name = df["Starting Pitcher"][number]
            start_pitch_class.append(df_pitch.loc[name]["ERA"])
            start_pitch_class_2.append(df_pitch.loc[name]["CG"])
            start_pitch_class_3.append(df_pitch.loc[name]["IP"])
            start_pitch_class_4.append(df_pitch.loc[name]["ERA+"])
            start_pitch_class_5.append(df_pitch.loc[name]["FIP"])
            start_pitch_class_6.append(df_pitch.loc[name]["WHIP"])
            start_pitch_class_7.append(df_pitch.loc[name]["H9"])
            start_pitch_class_8.append(df_pitch.loc[name]["HR9"])
            start_pitch_class_9.append(df_pitch.loc[name]["BB9"])
            start_pitch_class_10.append(df_pitch.loc[name]["SO9"])
            start_pitch_class_11.append(df_pitch.loc[name]["SO/W"])
        else:
            start_pitch_class.append(0)
            start_pitch_class_2.append("N/A")
            start_pitch_class_3.append("N/A")
            start_pitch_class_4.append("N/A")
            start_pitch_class_5.append("N/A")
            start_pitch_class_6.append("N/A")
            start_pitch_class_7.append("N/A")
            start_pitch_class_8.append("N/A")
            start_pitch_class_9.append("N/A")
            start_pitch_class_10.append("N/A")
            start_pitch_class_11.append("N/A")
    
    # adding all the pitching metrics
    return_df = df
    return_df["ERA_Starting"] = start_pitch_class
    return_df["ERA_Opposing"] = opp_pitch_class
    return_df["CG-Starting"] = start_pitch_class_2
    return_df["CG-Opposing"] = opp_pitch_class_2
    return_df["IP-Starting"] = start_pitch_class_3
    return_df["IP-Opposing"] = opp_pitch_class_3
    return_df["ERA+-Starting "] = start_pitch_class_4
    return_df["ERA+-Opposing"] = opp_pitch_class_4
    return_df["FIP-Starting"] = start_pitch_class_5
    return_df["FIP-Opposing"] = opp_pitch_class_5
    return_df["WHIP-Starting"] = start_pitch_class_6
    return_df["WHIP-Opposing"] = opp_pitch_class_6
    return_df["H9-Starting "] = start_pitch_class_7
    return_df["H9-Opposing"] = opp_pitch_class_7
    return_df["HR9-Starting"] = start_pitch_class_8
    return_df["HR9-Opposing"] = opp_pitch_class_8
    return_df["BB9-Starting"] = start_pitch_class_9
    return_df["BB9-Opposing"] = opp_pitch_class_9
    return_df["SO9-Starting "] = start_pitch_class_10
    return_df["SO9-Opposing"] = opp_pitch_class_10
    return_df["SO/W-Starting"] = start_pitch_class_11
    return_df["SO/W-Opposing"] = opp_pitch_class_10
    
    # deleting any rows where pitcher data was not found
    return_df = return_df[return_df.ERA_Starting != 0]
    return_df = return_df[return_df.ERA_Opposing != 0]
    return_df.drop(["Starting Pitcher", "Opposing Pitcher"], axis=1, inplace = True)
    
    # returning dataframe
    return return_df

In [69]:
def determine_who_wins(starting_pitcher, opposing_pitcher, home_or_away):
    
    
    # gathering pitching data from two inputs in the function
    opp_pitch_class = []
    opp_pitch_class_2 = []
    opp_pitch_class_3 = []
    opp_pitch_class_4 = []
    opp_pitch_class_5 = []
    opp_pitch_class_6 = []
    opp_pitch_class_7 = []
    opp_pitch_class_8 = []
    opp_pitch_class_9 = []
    opp_pitch_class_10 = []
    opp_pitch_class_11 = []
    
    if opposing_pitcher in df_pitch.index:
        opp_pitch_class.append(df_pitch.loc[opposing_pitcher]["ERA"])
        opp_pitch_class_2.append(df_pitch.loc[opposing_pitcher]["CG"])
        opp_pitch_class_3.append(df_pitch.loc[opposing_pitcher]["IP"])
        opp_pitch_class_4.append(df_pitch.loc[opposing_pitcher]["ERA+"])
        opp_pitch_class_5.append(df_pitch.loc[opposing_pitcher]["FIP"])
        opp_pitch_class_6.append(df_pitch.loc[opposing_pitcher]["WHIP"])
        opp_pitch_class_7.append(df_pitch.loc[opposing_pitcher]["H9"])
        opp_pitch_class_8.append(df_pitch.loc[opposing_pitcher]["HR9"])
        opp_pitch_class_9.append(df_pitch.loc[opposing_pitcher]["BB9"])
        opp_pitch_class_10.append(df_pitch.loc[opposing_pitcher]["SO9"])
        opp_pitch_class_11.append(df_pitch.loc[opposing_pitcher]["SO/W"])
    else:
        Print("Opposing Pitcher Not Found")

    start_pitch_class = []
    start_pitch_class_2 = []
    start_pitch_class_3 = []
    start_pitch_class_4 = []
    start_pitch_class_5 = []
    start_pitch_class_6 = []
    start_pitch_class_7 = []
    start_pitch_class_8 = []
    start_pitch_class_9 = []
    start_pitch_class_10 = []
    start_pitch_class_11 = []
       
    if starting_pitcher in df_pitch.index:
        start_pitch_class.append(df_pitch.loc[starting_pitcher]["ERA"])
        start_pitch_class_2.append(df_pitch.loc[starting_pitcher]["CG"])
        start_pitch_class_3.append(df_pitch.loc[starting_pitcher]["IP"])
        start_pitch_class_4.append(df_pitch.loc[starting_pitcher]["ERA+"])
        start_pitch_class_5.append(df_pitch.loc[starting_pitcher]["FIP"])
        start_pitch_class_6.append(df_pitch.loc[starting_pitcher]["WHIP"])
        start_pitch_class_7.append(df_pitch.loc[starting_pitcher]["H9"])
        start_pitch_class_8.append(df_pitch.loc[starting_pitcher]["HR9"])
        start_pitch_class_9.append(df_pitch.loc[starting_pitcher]["BB9"])
        start_pitch_class_10.append(df_pitch.loc[starting_pitcher]["SO9"])
        start_pitch_class_11.append(df_pitch.loc[starting_pitcher]["SO/W"])
    else:
        Print("Starting Pitcher Not Found")
    
        
        
    # gathering batting metrics from pitchers' team
    if opposing_pitcher in df_pitch.index:
        opp_team_name = df_pitch.loc[opposing_pitcher]["Tm"]
    
    if opp_team_name in df_bat.index:
        opp_team_metrics = df_bat.loc[opp_team_name]
        
    opp_team = pd.DataFrame(opp_team_metrics)
    opp_team = opp_team.transpose()
    opp_team["key"] = 1

    if starting_pitcher in df_pitch.index:
        team_name = df_pitch.loc[opposing_pitcher]["Tm"]
    
    if team_name in df_bat.index:
        team = df_bat.loc[team_name]
        
    team = pd.DataFrame(team)
    team = team.transpose()
    team["key"] = 1    
    
    
    # gathering distance between teams
    distance = get_home_away_distance_in_miles(team_name, opp_team_name)
    
    if home_or_away == "Home":
        team["Distance"] = distance
    else:
        team["Distance"] = (distance * -1)
    
        
    # creating a dataframe to combine all the pitching metrics    
    pitching_metrics = pd.DataFrame(
    {     
        "ERA-Starting" : start_pitch_class,
        "ERA-Opposing" : opp_pitch_class,
        "CG-Starting" : start_pitch_class_2,
        "CG-Opposing" : opp_pitch_class_2,
        "IP-Starting" : start_pitch_class_3,
        "IP-Opposing" : opp_pitch_class_3,
        "ERA+-Starting" : start_pitch_class_4,
        "ERA+-Opposing" : opp_pitch_class_4,
        "FIP-Starting" : start_pitch_class_5,
        "FIP-Opposing" : opp_pitch_class_5,
        "WHIP-Starting" : start_pitch_class_6,
        "WHIP-Opposing" : opp_pitch_class_6,
        "H9-Starting" : start_pitch_class_7,
        "H9-Opposing" : opp_pitch_class_7,
        "HR9-Starting" : start_pitch_class_8,
        "HR9-Opposing" : opp_pitch_class_8,
        "BB9-Starting" : start_pitch_class_9,
        "BB9-Opposing" : opp_pitch_class_9,
        "SO9-Starting" : start_pitch_class_10,
        "SO9-Opposing" : opp_pitch_class_10,
        "SO/W-Starting" : start_pitch_class_11,
        "SO/W-Opposing" : opp_pitch_class_10,
        "key" : 1
    })
    
    
    # creating test data to run through model
    batting_metrics = pd.merge(team, opp_team, on='key')
    test_data = pd.merge(batting_metrics, pitching_metrics, on="key")
    test_data.drop(["key"], axis=1, inplace = True)
    
    # testing to see what the results look like before running a model
    # it works, I can comment this out
    # result = test_data
    
    # running our model
    result = model.predict(test_data)
    
    #printing out our prediction
    return result

In [70]:
print("Run now")

Run now

In [ ]:
# d.to_csv(Path("test.csv"), index = False, header=True)